.annotation {
	opacity: 1 !important;
}

.annotation-titlebar {
	opacity: 0.5;
	width: 30px;
}

.annotation-description {
	border-radius: 10px;
	text-align: center;
	width: auto;
}

.annotation-icon {
	height: 30px;
	margin: auto;
	padding: 5px 0px;
}

.controls {
	z-index: 10000;
	position: absolute;
	bottom: 0;
	right: 0;
	padding-right: 16px;
	padding-bottom: 16px;
}

.header {
	z-index: 10000;
	position: absolute;
	bottom: 0;
	left: 0;
	padding-left: 16px;
	padding-bottom: 16px;
	font-family: Arial, sans-serif;
	color: #fff;
	opacity: 0.75;
	margin: 0px;
}

.anno-p{
	text-align: left;
}